// Container Global
.All{
    background: #fff;
    height: fit-content;
    padding-bottom: 20px;
}
.All2{
    background: #fff;
    height: fit-content;
}

// Container of the step ( if the progress bar exist or not ) 
.InsideStep{
    margin: 90px 0px 0px 300px;
    padding: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 620px);
    align-items: center;
    background: #fff;
    height: 100%;
}
.InsideStep2{
    margin: 90px 0px 0px 340px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 340px);
    align-items: center;
    background: #fff;
    height: 100%;
}
.InsideStep3{
    margin: 90px 0px 0px 150px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 150px);
    align-items: center;
    background: #fff;
    height: 100%;
}
.InsideStep4{
    margin: 90px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #fff;
    height: 100%;
}

// Container of Multiple checkBox with label
.CheckBox{
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    >label{
        font-size: 18px;
        margin-right: 30px;
        margin-bottom: 0px;
    }
}
.CheckBox2{
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
    .CheckBox2Label{
        display: grid;
        margin-right: 30px;
        label{
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 0px;
        }
        label:first-child{
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0px;
        }
    }
}

//Container of Form with Add Button
.FormContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.Buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
}

// styles of Step Title and UnderTitle & the gap
.TitleStep{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-bottom:120px;
    text-align: center;
}
.TitleStep2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-bottom:15px;
}
.TitleStep3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-bottom:15px;
}
.TitleStep4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
}
.TitleStep5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #608FF5;
}
.TitleFinale{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.UnderTitleStep2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom:30px;
}
.UnderTitleStep3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ACACAC;
    margin-bottom:83px;
    text-align: center;
}
.UnderTitleStep4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom:30px;
    text-align: center;
}
.UnderTitleStep5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom:20px;
    color: #C5C3C3;
}
.UnderTitleStep6{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    margin-bottom:30px;
    color: #000000;
}
.UnderTitleFinale{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    margin-bottom:40px;
    color: #ACACAC;
}
.FormUserTitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin :40px auto 30px;
}
.BlankTitle{
    height: 39px;
    margin-bottom:50px;
}
.BlankTitle2{
    height: 39px;
    margin-bottom:120px;
}

//Styles of inputs
.FormUpdate{
    width: 240px;
    input{
        height: calc(2.5em + 1rem + 2px);
    }
    input:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        font-size: 18px;
    }
    
}
.FormSimple{
    width: 650px;
    transition: 0.5s;
    margin-top: 15px;
    input, select{
        height: calc(2.5em + 1rem + 2px);
        margin-bottom: 10px;
    }
    input:focus, select:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        font-size: 17px;
    }
}
.FormSimple2{
    width: 400px;
    transition: 0.5s;
    margin: 10px 0px;
    input, select{
        height: calc(2.5em + 1rem + 2px);
        margin-bottom: 10px;
    }
    input:focus, select:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        font-size: 17px;
    }
}
.FormSimple3{
    width: 100%;
    transition: 0.5s;
    margin: 10px auto;
    input, select{
        height: calc(2.5em + 1rem + 2px);
        margin-bottom: 10px;
    }
    input:focus, select:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        font-size: 17px;
    }
}
.FormSimple4{
    width: 550px;
    transition: 0.5s;
    margin-top: 15px;
    input, select{
        height: calc(2.5em + 1rem + 2px);
        margin-bottom: 10px;
    }
    input:focus, select:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        font-size: 17px;
    }
}
.FormCheck{
    transition: 0.5s;
    margin-right: 15px;
    input{
        width: 20px;
        height: 20px;
        border: 1.5px solid #ACACAC;
    }
    input:focus, select:focus{
        border-color: #608FF5!important;
    }
    .inputUpdated{
        border-color: #608FF5!important;
    }
    label{
        transition: 0.5s;
        font-size: 18px;
    }
    label.ColorGrey{
        color: #ACACAC;
    }
}
.FormComplexe{
    width: 820px;
}
.PhoneInput{
    display: grid;
    grid-template-columns: 60px 1fr;
    input:first-child{
        width: 90%;
    }
}

// DropeZone and Image style
.DropZone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 650px;
    height: 350px;
    margin: 0 auto;
    background: #F9FAFA;
    border: 1px dashed #ACACAC;
    box-sizing: border-box;
    cursor: pointer;
    p{
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #ACACAC;
    }
    .ImagePet{
        height: 100%;
        width: 100%;
        position: relative;
    }
}

//Video Container
.VideoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 750px;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    iframe{
        height: 100%;
        width: 100%;
    }
}

// Container of SignUp and Image SignUp 
.SignupContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1560px;
}
.SignupContainer2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1560px;
}

// Final Step Containers
.FinalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1920px;
}
.FinalInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .buttons{
        display: flex;
        flex-direction: column;
        width: 550px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border: 1px solid #000000;
            border-bottom: none;
            background: #fff;
            color: #000;
            text-align: center;
            span{
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                margin-right: 10px;
                margin-left: 35px;
            }            
        }
        a:hover{
            background: #000;
            color: #fff;
        }
        :last-child{
            border-bottom: 1px solid #000000;
        }
    }
}


// Images Container with diff images
.ContainerImage{
    width : 100%;
    height : calc(100vh - 90px);
    max-height: 1200px;
    background-image: url('../../static/assets/step3Background.png') ;
	background-size: cover;
	background-position: 0% 100%;
    background-repeat: no-repeat;
}
.ContainerImage2{
    width : 100%;
    height : calc(100vh - 90px);
    max-height: 1200px;
    background-image: url('../../static/assets/step3Verification.png') ;
	background-size: cover;
	background-position: 0% 100%;
    background-repeat: no-repeat;
}
.ContainerImage3{
    width : 100%;
    height : calc(100vh - 90px);
    max-height: 1200px;
    //background-image: url('../../static/assets/step3Verification.png') ;
	background-size: cover;
	background-position: 0% 100%;
    background-repeat: no-repeat;
}

// Button Social SignUp
.TitleSignRs{
    margin: 50px auto 40px;
    width: 300px;
    p{ 
        width:100%; 
        text-align:center;
        background-color: #ACACAC;
        line-height:0em; 
        margin:10px 0 20px;
    } 
    p span{ 
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        background:#fff; 
        padding:0 10px; 
    }
}
.ButtonRs{
    display: flex;
    justify-content: space-around;
    padding : 10px;
    background: #FFFFFF;
    border: 0.845231px solid #ACACAC;
    border-radius: 84.5231px;
    width : 100%;
    margin: 30px auto 0px;
    .Rs{
        display: grid;
        grid-template-columns: 22px 1fr;
        cursor: pointer;
        span{
            margin-left: 5px;
            color: #000000;
            font-weight: 500;
            font-size: 16px;
        }
    }
}
.Separator{
    border: 0.7px solid #000000;
}

// Carousel styles
.CarouselContainer{
    width: 700px;
    >div{
        align-items: center;
    }
    .slickHeight1, .slickHeight2{
        color: #000000;
        height: 100%;
        background-color: #fff;
        border-color: #fff;
        outline: none;
        margin-bottom: 60px;
        >svg{
            font-size: 2.5rem!important;
        }
    }
    .slickHeight1:hover, .slickHeight1:active, .slickHeight1:focus, .slickHeight2:hover, .slickHeight2:active, .slickHeight2:focus{
        color: #000000!important;
        background-color: #fff!important;
        border-color: #fff!important;
        outline: none!important;
    }

}

// QrCodeCamera style
.QrCodeCamera{
    width: 350px;
}

// Responsive
@media (max-width: 1500px) {
    .FormUpdate{
        width : 180px;
    }
    .InsideStep{
        width: calc(100% - 300px);
    }
    .CheckBox, .FormSimple{
        width: 450px;
    }
    .CheckBox2{
        width: auto;
        .CheckBox2Label{
            margin-right: 25px;
            label{
                font-size: 13px;
            }
            label:first-child{
                font-size: 16px;
            }
        }
        label{
            font-size: 16px;
        }
    }
    .FormSimple2{
        width: auto;
    }
    .FormComplexe{
        width: auto;
    }
    .FormDiv{
        margin: auto;
    }
    .DropZone{
        width: 450px;
        height: 250px;
        p{
            font-size: 20px;
        }
    }
    .VideoContainer{
        width: 600px;
        height: 320px;
    }
}
@media (max-width: 1250px) {
    .SignupContainer{
        grid-template-columns: 1fr;
    }
    .ContainerImage{
        display: none;
    }
    .InsideStep3{
        margin: 90px 0px 0px 0px;
        width: auto;
    }
    .FormSimple4{
        width: 100%;
    }
    .FinalInformation{
        .buttons{
            width: 100%;
        }
    }
    
}
@media (max-width: 1024px) {
    .InsideStep{
        margin: 215px 0px 0px 0px;
        padding: 0px;
        width: auto;
        height: calc(100% + 80px);
    }
    .InsideStep2{
        margin: 215px 0px 0px 0px;
        width: auto;
    }
    .InsideStep3{
        margin: 215px 0px 0px 0px;
        width: auto;
    }
    .TitleStep, .BlankTitle2{
        margin-bottom: 40px;
    }
    .UnderTitleStep3, .UnderTitleStep2, .UnderTitleStep4{
        margin-bottom: 40px;
    }
    .BlankTitle{
        margin-bottom: 10px;
    }
    .FormSimple, .FormSimple2,.CheckBox,.CheckBox2 {
        width: 100%;
    }
    .SignupContainer2{
        grid-template-columns: 1fr;
    }
    .FinalContainer{
        display: flex;
        flex-direction: column;
    }
    .ContainerImage3{
        height: 100vh;
        margin: 10px auto;
    }
    .ContainerImage2{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .InsideStep{
        margin: 215px 0px 0px 0px;
        width: auto;
    }
    .TitleStep,.TitleStep4, .TitleStep2, .TitleStep3, .TitleStep5, .TitleFinale{
        text-align: center;
        font-size: 24px;
        padding: 0px 10px;
    }
    .UnderTitleStep2,.UnderTitleStep4, .UnderTitleStep3, .UnderTitleStep5, .UnderTitleStep6{
        font-size: 15px;
        text-align: center;
        padding: 0px 10px;
    }
    .BlankTitle, .BlankTitle2{
        height: 31px;
    }
    .FormSimple, .FormSimple2, .FormSimple3,.FormSimple4, .CheckBox{
        width: 100%;
        label{
            font-size: 13px;
        }
    }
    .CheckBox2{
        width: 100%;
        justify-content: flex-end;
        flex-wrap: wrap;
        .CheckBox2Label{
            width: 100%;
            margin-bottom: 10px;
            margin-right: 0px;
            label{
                font-size: 12px;
            }
            label:first-child{
                font-size: 14px;
            }
        }
        label{
            font-size: 14px;
        }
    }
    .DropZone {
        width: 100%;
        p{
            font-size: 18px;
        }
    }
    .VideoContainer {
        width: 100%;
    }
    .FormContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    .ButtonRs{
        .Rs{
            grid-template-columns: 15px 1fr;
            span{
                font-size: 12px;
            }
        }
    }
    .CarouselContainer{
        width: calc(100vw - 35px);
    }
    .FinalInformation{
        .buttons{
            a{
                span{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (max-height: 740px){
    .InsideStep{
        margin: 215px 0px 0px 0px;
        height: calc(100% + 80px);
        width: auto;
    }
}
@media (max-height: 850px) and (max-width: 600px) {
    .FormUpdate{
        width : 150px;
    }
}
@media (max-width: 500px) {
    .TitleStep, .TitleStep2, .TitleStep4, .TitleStep3, .TitleStep5, .TitleFinale{
        font-size: 23px;
        line-height: 30px;
        text-align: center;
    }
    .QrCodeCamera{
        width: 100%;
    }
}
